:root {
    --color-blue: #001e62;
    --color-red: rgb(209, 43, 99);
    --color-yellow: #c63527;
    --color-gray: #222;
    --font-text:
    'Inter', 'Noto Sans JP', sans-serif;
    --font-title:
    'Bebas Neue', cursive;
    --font-marin:
    'Marines_name';
    --background-rgba: linear-gradient(90.07deg, #F68121 -0.48%, #F86E54 100.22%);
  }
  
  
@media screen and (max-width: 576px) {
    .modal-open .modal {

        padding: unset !important;
      }
    .swiper-container-pc {

        display: none;
    }
    
    .site-top-pc {
        display: none;
    }

    .title-profile {
        display: none;
    }
    
    .title-profile-mobile {
        display: block;
    }

    .title-profile-top-mobile {
        text-align: center;
        font-family: var(--font-text);
        font-size: 24px;
        font-weight: 700;
        text-align: left;
        background: #080504;
        text-align: center;
        color: white;
        padding: 20.5px 0px;
    }
    .title-profile-bottom-mobile  {
        padding: 25px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 17.96px;
        background: #EFEFEF;
        border-bottom: 1px solid #D7D7D8;

    }
    .text-保有Mポイント {

        font-family: var(--font-text);
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        color: #000000;
        margin-bottom: unset !important;

    }

    .text-price-mobile p {

        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: right;
        color: #D12B63;
        margin-bottom: unset !important;
        display: flex;
        align-items: center;
        gap: 2.41px;
    }

    .text-price-mobile p span {

        font-size: 22px;
        font-weight: 700;
        color: #000000;

    }

    .site-member {

        padding: 40px 15px;
    }

    .title-stie-menber {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .content-site-member {
        font-size: 14px;
    }

    .item-products img {

        height: 177.48px;
    }

    .info-products {
        padding: 0px 10px 0px 10px;
    }

    .info-products p {

        line-height: 22px;
        font-size: 14px;
        height: 69px;
        margin-bottom: unset !important;
    }

    .wrapper-img-products {
        margin-bottom: 8px;
    }

    .price-products {

        font-size: 16px;
    }

    .price-products span {

        font-size: 12px;
    }

    .wrapper-restart {

        flex-direction: column;
        gap: 16px;
        margin-bottom: 56px;
    }

    .wrapper-restart-left {
        padding: 15px 45px;
        font-size: 14px;
    }

    .button-トップページにもどる {

        width: 100%;
    }
    
    .pagination-products {

        gap: 8px;
    }

    .wrapper-restart-right {

        font-size: 14px;
    }

    .トップページにもどる-text {

        font-size: 14px;
    }

    .products {
        margin-bottom: 16px;
    }
    .info-product-popup {

        flex-direction: column;
    }

    .info-product-popup-left {
        display: flex;
        margin-bottom: 8px;
    }

    .item-img-popup {

        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        gap: 6px;
        padding-left: 6px;
    }

    .modal-content {

        padding: 8px;
    }

    .item-img-popup img {

        width: 64px;
        height: 64px;
    }

    .wrapper-img-popup {
            display: block;
        flex: 1;
        margin-bottom: unset;
    }
    .img-popup {

        height: 274px;
    }

    .info-product-popup-right {

        flex-direction: column;
    }

    .wrapper-title-content-products-popup {

        font-size: 16px;
        margin-bottom: 8px;
    }

    .交換個数 {

        font-size: 12px;
        font-weight: 600;
    }
    
    .select-quantity-popup {

        height: 32px;
    }

    .price-popup-products {

        margin-bottom: 8px;
    }
    .quantity-popup {

        margin-bottom: 16px;
    }
    .desc-content-products {

        max-height: 184px;
        padding-right: unset;
    }

    .info-product-popup {

        margin-bottom: 16px;
    }

    .wrapper-submit-popup-products  {

        padding: 0 30px;
    }
    
    .modal-dialog {

        margin-top: 20px;
    }

    .desc-content-products {

        font-size: 14px;
    }

    .item-products {

        padding: 0px 8px ;
        margin-bottom: 16px;
    }

    .products {

     padding: 0px 7px;
    }

    .トップページにもどる {

        padding: 0 30px;
    }

    .info-product-popup-left {

        display: flex;
    }

    .wrapper-price-products {

        padding: 7px;
    }
}

