:root {
    --color-blue: #001e62;
    --color-red: rgb(209, 43, 99);
    --color-yellow: #c63527;
    --color-gray: #222;
    --font-text:
    'Inter', 'Noto Sans JP', sans-serif;
    --font-title:
    'Bebas Neue', cursive;
    --font-marin:
    'Marines_name';
    --background-rgba: linear-gradient(90.07deg, #F68121 -0.48%, #F86E54 100.22%);
  }
  
@media screen and (max-width: 576px) {

    .site-top {

        display: block;
    }
    
    .site-date {
    
        display: block;
    }

    .商品選択ページにもどる-mobile {

        display: block;
        font-size: 14px;
    }

    .商品選択ページにもどる-pc {

        display: none;
    }

    .swiper-container-pc {

        display: none;
    }
    
    .site-top-pc {
        display: none;
    }

    .title-profile {
        display: none;
    }
    
    .title-profile-mobile {
        display: block;
    }

    .title-profile-top-mobile {
        font-family: var(--font-text);
        font-size: 24px;
        font-weight: 700;
        background: #080504;
        text-align: center;
        color: white;
        padding: 20.5px 0px;
    }
    .title-profile-bottom-mobile  {
        padding: 25px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 17.96px;
        background: #EFEFEF;
        border-bottom: 1px solid #D7D7D8;

    }
    .text-保有Mポイント {

        font-family: var(--font-text);
        font-size: 14px;
        font-weight: 700;
        text-align: left;
        color: #000000;
        margin-bottom: unset !important;

    }

    .text-price-mobile p {

        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: right;
        color: #D12B63;
        margin-bottom: unset !important;
        display: flex;
        align-items: center;
        gap: 2.41px;
    }

    .text-price-mobile p span {

        font-size: 22px;
        font-weight: 700;
        color: #000000;

    }

    .site-member {

        padding: 40px 15px;
    }

    .title-stie-menber {
        font-size: 16px;
        margin-bottom: 8px;
    }

    .content-site-member {
        font-size: 14px;
    }
    .wrapper-img-cart img {

        width: 80px;
        height: 82.8px;
    }

    .item-products-cart {

        flex-direction: column;
    }

    .wrapper-products-cart-left {

        align-items: flex-start;
        gap: 0px;
    }

    .wrapper-info-products-cart {

        margin-top: 15px;
    }

    .wrapper-products-cart-left p {

        font-size: 14px;
    }

    .item-products-cart {

        align-items: flex-start;
    }

    .wrapper-products-cart-right {

        position: absolute;
        bottom: 0;
        right: 0;
    }

    .wrapper-products-cart-right p {
        
        margin-left: 32px;
    }
    .payment-method span {

        font-size: 14px;
    }

    .checkbox-method {
        justify-content: end;
    }

    .price-total {

        margin-bottom: 35px;
    }

    .price-total-left {

        margin-right: 17px;
    }

    .price-total .row {

            margin-left: unset !important;
            margin-right: unset !important;
    }
    
    .この内容で交換する-mobile {

        width: 100%;
        font-size: 14px;


    }

    .wrapper-この内容で交換する {
        padding: 0px 30px;
    }

    .商品選択ページにもどる {

        width: 100%;
    }

    .この内容で交換する {

        margin-bottom: 24px;
    }

    .wrapper-item-products-cart {

        margin-bottom: 16px;
    }

    .payment-method {

        border-radius: 8px;
    }

    .ルール {

        margin-bottom: 17px;
    }

    .ルール p {

        font-size: 14px;
    }

    .price-total p {

        font-size: 14px;
    }

    .site-top {

        padding: 4px 0px;
    }

    .site-top .btn-custom {

        min-width: 230px;
        font-size: 14px;
    }
  
    .site-date .text {

        padding: 8px 0px;
        font-size: 12px;
    }
}

